	/*
	Color Selector Sites
	https://www.sessions.edu/color-calculator/
	https://www.sessions.edu/color-calculator-results/?colors=212f3d,3d3a21,3d2128
	https://htmlcolorcodes.com/color-picker/
	*/

	html,
	body {
		height: 100%;
		overflow: hidden;
		scroll-behavior: smooth;
	}

	:root {
		--colorbg: #EBEDEF;
		--colorbase: #212F3D;
		--primarycolor: #1e3a57;
		--monocolor: #3e5671;
		--orange: #ad643a;

		--darkcolorbg: #212F3D;
		--darkcolorbase: #EBEDEF;
		--darkprimarycolor: #3e5671;
		--darkmonocolor: #1e3a57;
		--darkcompcolor: #3d2c21;

		--green: #5ca681;
		--purple: #6e5ca6;
		--lightpurple: #ad8fff;

		--darkred: #3d2521;
		--darkbrown: #3d3321;
		--darkgreen: #213d2f;
		--darkpurple: #28213d;

	}