// Color Scheme
$color-base: MidnightBlue;
$color-light: lighten($color-base, 30%);
$color-bg: FloralWhite;

// Font
$headerFont: $MeriendaOne;
$bodyFont: $Assistant;
$quoteFont: $Caveat;
$quoteByFont: $MeriendaOne;
