// Color Scheme
$color-base: #212F3D;
$color-bg: #EBEDEF;
$color-light: lighten($color-base, 60%);

$dark-color-base: #EBEDEF;
$dark-color-bg: #212F3D;
$dark-color-light: lighten($color-bg, 60%);

// Mixin 
// Center
@mixin centerdivfrombottom($bottom){
  bottom: $bottom;
  -ms-transform: translateY(-50%);
  transform: translateY(-50)
}


a {
  color: $color-base;
}
.dark-mode a {
  $dark-color-base: #EBEDEF;
}