// Fonts

// Sans-Serif Fonts
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700');
  $Assistant: 'Assistant', sans-serif;

  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1');
  $IBMPlexSerif: 'IBM Plex Serif', sans-serif;

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900');
  $Roboto: 'Roboto', sans-serif;

// Cursive Fonts

  @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700');

  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700');
  $Caveat: 'Caveat', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700');
  $DancingScript: 'Dancing Script', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Kristi');
  $Kristi: 'Kristi', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Lemon');
  $Lemon: 'Lemon', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Merienda+One');
  $MeriendaOne: 'Merienda One', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Pacifico');
  $Pacifico: 'Pacifico', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');
  $PermanentMarker: 'Permanent Marker', cursive;

  @import url('https://fonts.googleapis.com/css2?family=Satisfy');
  $Satisfy: 'Satisfy', cursive;